<html>
    <head>
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- Styles -->
        <link rel="stylesheet" href="static/style.css">

        <!-- Scripts -->
        <script src="static/script.js"></script>
    </head>
    <body>
        <nav class="nav-height">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" style="padding-left:15px;">Intelligence Quarterly</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Back</a></li>
                </ul>
            </div>
        </nav>
        <div class="row home-portal-title">
            <div class="col s12 detail-company-select">
                <form action="/detail" method="get">
                    <div class="home-portal-form-select">
                        <select id="companySelect" name="companySelect">
                                <option  disabled selected>Select a Company:</option>
                                {% for row in data.companies %}
                                <option>{{row}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="home-portal-form-select">
                        <select id="yearSelect" name="yearSelect">
                                <option  disabled selected>Select a Year:</option>
                                {% for row in data.years %}
                                <option>{{row}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="home-portal-form-select">
                        <select id="quarterSelect" name="quarterSelect">
                                <option  disabled selected>Select a Quarter:</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                        </select>
                    </div>
                    <button class="btn waves-effect waves-light form-button" type="submit" name="action">
                        Go
                    </button>
                </form>
            </div>
        </div>
        <div class="row detail-title-row">
            <div class="col s2"></div>
            <div class="col s8">
                <h4 class="detail-title">{{data.current_name}} - {{data.current_year}} Q{{data.current_quarter}}</h4>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row">
            <div class="col s6 detail-text-box">
                    <ul>
                        {% for row in data.text %}
                        <li><h5>{{row.title}}</h5></li>
                        <li>{{row.body}}</li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="col s6 detail-stats-col">
                <div class="graphs">
                        <div class="graph-wide">
                            <canvas id="predictions"></canvas>
                        </div>
                        <div class="graph-wide">
                                <canvas id="earnings"></canvas>
                        </div>
                    </div>
                <div class="stat-row">
                    <div class="stat">Word Count<h4 class="stat-data">{{data.stat_1}}</h4></div>
                    <div class="stat">Sections<h4 class="stat-data">{{data.stat_2}}</h4></div>
                    <div class="stat">Average Section Length<h4 class="stat-data">{{data.stat_3}}</h4></div>
                </div>
                <div class="graphs">
                    <div class="graph">
                        <canvas id="sentiment"></canvas>
                    </div>
                    <div class="graph">
                        <canvas id="test"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
    var sentiment_data = {
        topic:['risk', 'environment', 'debt', 'legal'],
        sentiment:{{data.sentiment}},
        sentiment_counts:{{data.sentiment_counts}}
    }

    l = []
    function add_to(s) {
        l.push(s)
    }
    {% for row in data.entity_labels %}
        add_to("{{row}}")
    {% endfor %}

    var entity_data = {
        topic: l, 
        count: {{data.entities}}
    }

    var predictions_data = {
        classes:['Likelihood of good quarter','Likelihood of neutral quarter','Likelihood of bad quarter'],
        confidences:{{data.predictions}}
    }

    var earnings_data = {
        classes:['Likelihood of not meeting earnings target', 'Likelihood of meeting / exceeding earnings target'],
        confidences:{{data.earnings}}
    }

    </script>
    <script src="static/detail.js"></script>
</html>
