<html>
    <head>
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- Styles -->
        <link rel="stylesheet" href="static/style.css">

        <!-- Scripts -->
        <script src="static/script.js"></script>
    </head>
    <body>
        <nav class="nav-height">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo" style="padding-left:15px;">Intelligence Quarterly</a>
                </div>
        </nav>
        <div class="row home-portal">
            <div class="col s2"></div>
            <div class="col s8">
                <h4 class="home-portal-title">Not found :(</h4>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <form action="/detail" method="get">
                    <div class="home-portal-form-select">
                        <select id="companySelect" name="companySelect">
                                <option  disabled selected>Select a Company:</option>
                                {% for row in data.companies %}
                                <option>{{row}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="home-portal-form-select">
                        <select id="yearSelect" name="yearSelect">
                                <option  disabled selected>Select a Year:</option>
                                {% for row in data.years %}
                                <option>{{row}}</option>
                                {% endfor %}
                        </select>
                    </div>
                    <div class="home-portal-form-select">
                        <select id="quarterSelect" name="quarterSelect">
                                <option  disabled selected>Select a Quarter:</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                        </select>
                    </div>
                    <button class="btn waves-effect waves-light form-button" type="submit" name="action">
                        Go
                    </button>
                </form>
            </div>
            <div class="col s3"></div>
        </div>
    </body>
</html>