/* .axis { font: 10px sans-serif; }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.circle:hover{
    stroke: black;
    stroke-width: 4px;
}
.font{
    font-size:12px; 
    font-family:'Helvetica Neue';
    color:#666666;
} */

.nav-height {
    height:7%;
}

.home-portal {
    text-align:center; 
    margin:0%; 
    height:5%; 
    margin-top:20%
}

.home-portal-title {
    margin:0%;
}

.home-portal-form-select {
    width:32%; 
    float:left; 
    margin-right: 1%
}

.form-button {
    width:100%
}

.detail-company-select {
    height:15%;
}

.detail-title-row {
    text-align:center; 
    margin:0%; 
    height:5%;
}

.detail-title {
    margin:0%;
}

.detail-text-box {
    height:70%; 
    overflow-y: auto;
}

.detail-stats-col {
    height:70%;
}

.graphs {
    height:40%;
}

.graph-wide {
    height:50%;
}

.graph {
    width:50%; 
    height:100%; 
    float:left;
}

.stat-row {
    height:15%; 
    margin-top:5%;
}

.stat {
    width:32%; 
    text-align:center; 
    float:left;
}

.stat-data {
    margin:0px;
}